<%= simple_form_for(invoice) do |form| %>
  <div class="row">
    <div class="col-sm-4 mb-3">
      <%= form.input :invoice_number %>
    </div>

    <div class="col-sm-4 mb-3">
      <%= form.input :invoice_date, html5: true %>
    </div>

    <div class="col-sm-4 mb-3">
      <%= form.input :total_amount_due %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 mb-3">
      <%= form.input :customer_name %>
    </div>

    <div class="col-sm-4 mb-3">
      <%= form.input :emails %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.input :customer_notes %>
  </div>

  <%= form.submit %>
<% end %>
