<div>
  <p>
    <strong><%= ta(Invoice, :invoice_number) %>:</strong>
    <%= invoice.invoice_number %>
  </p>

  <p>
    <strong><%= ta(Invoice, :formatted_invoice_date) %>:</strong>
    <%= invoice.formatted_invoice_date %>
  </p>

  <p>
    <strong><%= ta(Invoice, :customer_name) %>:</strong>
    <%= invoice.customer_name %>
  </p>

  <p>
    <strong><%= ta(Invoice, :customer_notes) %>:</strong>
    <%= invoice.customer_notes %>
  </p>

  <p>
    <strong><%= ta(Invoice, :formatted_total_amount_due) %>:</strong>
    <%= invoice.formatted_total_amount_due %>
  </p>

  <p>
    <strong><%= ta(Invoice, :emails) %>:</strong>
    <%= invoice.emails %>
  </p>
</div>
