<div class="row">
  <div class="col-sm-8">
    <h1><%= t('.title') %></h1>
  </div>

  <div class="col-sm-4 text-end mt-2">
    <%= link_to(t('.link_to_new'), new_invoice_path, class: 'btn btn-primary') %>
  </div>
</div>

<%= render('form_filter') %>

<% if @invoices.blank? %>
  <%= records_not_found(Invoice) %>
<% else %>
  <table id="invoices" class="table table-sm table-bordered table-hover">
    <thead>
      <tr>
        <th><%= ta(Invoice, :invoice_number) %></th>
        <th><%= ta(Invoice, :invoice_date) %></th>
        <th><%= ta(Invoice, :customer_name) %></th>
        <th><%= ta(Invoice, :total_amount_due) %></th>
        <th><%= ta(Invoice, :emails) %></th>
      </tr>
    </thead>

    <tbody>
      <% @invoices.each do |invoice| %>
        <%= render(invoice) %>
      <% end %>
    </tbody>
  </table>
<% end %>
