<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <%= link_to root_path do %>
        <%= image_tag 'husky-logo.png', style: 'width: 50px' %>
      <% end %>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
          <%= link_to t('.invoices'), invoices_path, class: 'nav-link px-2 text-white' %>
        </li>
      </ul>

      <div class="text-end">
        <% if user_signed_in? %>
          <%= button_to t('.sign_out'), sessions_path, class: 'btn btn-outline-light', method: :delete %>
        <% else %>
          <%= link_to t('.sign_in_by_token'), new_sessions_path, class: 'btn btn-outline-light me-2' %>

          <%= link_to t('.generate_token'), new_tokens_path, class: 'btn btn-warning' %>
        <% end %>
      </div>
    </div>
  </div>
</header>
