<!DOCTYPE html>
<html>
  <head>
    <title>HuskyChallenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <main class="container">
      <% if notice.present? %>
        <div class="alert alert-warning mt-3"><%= notice %></div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
