<!DOCTYPE html>
<html>
  <head>
    <title>HuskyChallenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <main class="container">
      <div class="text-danger"><%= notice %></div>

      <% if session[:current_access_token] %>
        <p class="text-danger">
          <%= link_to('Log Out', logout_invoices_path) %>
        </p>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
